
:root {
  color-scheme: light dark;
  --global-bg: light-dark(#fff,#141414);
  --global-contrast: light-dark(#000, #fff);
  --global-text: var(--global-contrast);
  --global-border: var(--global-contrast);
  --global-code-bg: light-dark(#d1d1d1, #0e0e0e);
  --global-primary: rgb(100, 100, 255);
  --global-secondary: rgb(
    from var(--global-primary)
    calc(r * 0.5 + 10)
    calc(g * 0.5 + 10)
    calc(b * 0.5 + 10)
  );
  --global-alt: rgb(
    from var(--global-primary)
    calc(r * 0.8)
    calc(g * 0.8)
    calc(b * 0.8 + 31)
  );
  --global-btn-bg: light-dark(var(--global-primary), var(--global-secondary));
  --global-btn-hv: light-dark(var(--global-secondary), var(--global-primary));
}


[data-theme="light"] {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}

[data-theme="oled-dark"] {
  color-scheme: dark;
  --global-bg: #000;
}

body {
  background-color: var(--global-bg);
  font-family: sans-serif;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  height: 98vh;
  transition: background-color 0.3s, color 0.3s, border 0.3s, code 0.3s;
}

h1 {
  color: var(--global-text);
}

h2 {
  color: var(--global-text);
}

h3 {
  color: var(--global-text);
}

h4 {
  color: var(--global-text);
  text-align: center;
}

table {
  color: var(--global-text);
}

p, label, ul, li {
  color: var(--global-text);
}

hr {
  color: var(--global-text);
  border: solid;
}

noscript {
  color: var(--global-text);
  text-align: center;
}

.btn:not([hidden]), .btn:link,
.btn:visited {
  font-size: 14px;
  background-color: var(--global-btn-bg);
  color: white;
  border: 2px solid rgba(0,0,0,0);
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

.btn:hover:not(:disabled),
.btn:active:not(:disabled) {
  background-color: var(--global-btn-hv);
  border: 2px solid rgba(0,0,0,0);
}

.btn:disabled {
  font-size: 14px;
  background-color: rgba(100, 100, 100, 0.5);
  color: white;
  border: 2px solid rgba(0,0,0,0);
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}
  
img {
  vertical-align: middle;
}

code {
  display: inline-block;
  font-family: Consolas,"courier new";
  color: var(--global-primary);
  background-color: var(--global-code-bg);
  padding: 3px;
  border-radius: 5px;
  font-size: 95%;
}

think:before {
  font-weight: bold;
  color: rgb(191, 191, 191);
  content:"Thinking...";
}

think * {
    color: rgb(191, 191, 191);
}

.input-console{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%; 
  gap: 5px;
}

.status-bar {
  /* margin-left: auto;
  margin-right: auto; */
  justify-content: space-between;
  align-items: center;
  display: flex;
  /* width: 100%;  */
  /* gap: 5px; */
}

.status-bar-element {
  flex-grow: 1; 
  flex-basis: 0;
}

#response-p{
  border-radius: 25px;
  border: 2px solid var(--global-border);
  padding: 20px; 
  width: 100%; 
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 0;
  flex: 1 1 auto;
  overflow-y: auto;
  margin-bottom: 10px;
}

#requestInput {
  color: var(--global-text);
  background-color: transparent;
  border: 2px solid var(--global-border);
  padding: 10px;
  /* text-align: center; */
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  flex-grow: 1;   
  min-width: 0;
}

#requestInput:disabled {
  color: rgba(255,255,255,0.5);
  background-color: transparent;
  border: 2px solid var(--global-border);
  padding: 10px;
  /* text-align: center; */
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  flex-grow: 1;   
  min-width: 0;
}

#modelSelect {
  color: var(--global-text);
  background-color: transparent;
  border: 2px solid var(--global-border);
  padding: 10px;
  /* text-align: center; */
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

.modelOption {
  background-color: var(--global-bg);

}

#themeSelect {
  color: var(--global-text);
  background-color: transparent;
  border: 2px solid var(--global-border);
  padding: 5px;
  /* text-align: center; */
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

.themeOption {
  background-color: var(--global-bg);

}

#thinkingCheckbox {
  accent-color: rgb(80, 80, 235);
}

#thinkingCheckbox:hover {
  accent-color: var(--global-primary);
}

#thinkingCheckboxLabel {
  margin-right: 5px;
  margin-left: -5px;
}

#fileInputLabel:not([hidden]) {
  background-color: var(--global-btn-bg);
  color: white;
  font-size: 14px;
  border: 2px solid rgba(0,0,0,0);
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

#fileInputLabel:hover,
#fileInputLabel:active {
  background-color: var(--global-btn-hv);
  border: 2px solid rgba(0,0,0,0);
}
