
:root {
  color-scheme: light dark;
  --global-bg: light-dark(#fff,#141414);
  --global-contrast: light-dark(#000, #fff);
  --global-text: var(--global-contrast);
  --global-border: var(--global-contrast);
  --g: 
  
}


[data-theme="light"] {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}

body {
    background-color: var(--global-bg); 
    font-family: sans-serif;
    margin-top: 0px;
    display:flex; 
    flex-direction:column; 
    height:98vh;
    transition: background-color 0.3s, color 0.3s;
  }

  /* pre {
    font-family: sans-serif;
    text-align: center;
  } */

  .add-bot-style {
    font-family: sans-serif;
    text-align: center;
    color: var(--global-text);
  }

  .add-bot-style > ul {
    display: inline-block;
    text-align: left;
  }

  .add-bot-style > ol {
    display: inline-block;
    text-align: left;
  }

  h1 {
    color: var(--global-text);
  }

  h2 {
    color: var(--global-text);
  }

  h3 {
    color: var(--global-text);
  }

  h4 {
    color: var(--global-text);
    text-align: center;
  }

  table {
    color: var(--global-text);
  }

  p, label, ul, li {
    color: var(--global-text);
  }

  hr {
    color: var(--global-text);
    border: solid;
  }

  .main-title {
    padding-top: 1em;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    width: 100%;
    background-color: var(--global-bg);
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

  noscript {
    color: var(--global-text);
    text-align: center;
  }

  .main-title-text {
    color: var(--global-text);
    text-decoration: none;
  }

  .t-logos {
    width: 32px;
    height: 32px;
  }

  .t-links:link,
  .t-links:visited {
    background-color: rgba(0, 0, 0, 0) !important;
    color: white;
    border: 2px solid rgba(100, 100, 255, 0) !important;
    padding: 5px 10px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0px !important;
  }

  .t-links:hover,
  .t-links:active {
    background-color: rgb(100, 100, 255, 0.5) !important;
    border: 2px solid rgb(255, 255, 255) !important;
    padding: 5px 10px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px !important;
  }


  .btn:not([hidden]), .btn:link,
  .btn:visited {
    font-size: 14px;
    background-color: rgba(100, 100, 255, 0.5);
    color: white;
    border: 2px solid rgba(100, 100, 255, 0);
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
  }

  .btn:hover:not(:disabled),
  .btn:active:not(:disabled) {
    background-color: rgba(100, 100, 255, 1);
    border: 2px solid rgba(100, 100, 255, 0.5);
  }

  .btn:disabled {
    font-size: 14px;
    background-color: rgba(100, 100, 100, 0.5);
    color: white;
    border: 2px solid rgba(0, 100, 255, 0);
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
  }
  
  .f-link:link,
  .f-link:visited {
    color: rgb(73, 73, 184) !important;
    background-color: rgba(0, 100, 255, 0.0) !important;
    padding: 0 !important;
    border: rgba(0, 0, 0, 0.0);
    text-decoration: none;
  }

  img {
    vertical-align: middle;
  }

  .title-links {
    font-size: 15px;
  }

  .featured-items {
    display: flex;
  }

  .featured-item {
    flex: 1; /* additionally, equal width */
    display: inline-block;
    padding: 1em;
  }

  code {
    font-family: Consolas,"courier new";
    color: rgb(100, 100, 255);
    background-color: #0e0e0e;
    padding: 2px;
    font-size: 95%;
  }

think:before {
  font-weight: bold;
  color: rgb(191, 191, 191);
  content:"Thinking...";
}

think * {
    color: rgb(191, 191, 191);
}

.input-console{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%; 
  gap: 5px;
}

.status-bar {
  /* margin-left: auto;
  margin-right: auto; */
  justify-content: space-between;
  align-items: center;
  display: flex;
  /* width: 100%;  */
  /* gap: 5px; */
}

.status-bar-element {
  flex-grow: 1; 
  flex-basis: 0;
}

#response-p{
  border-radius: 25px;
  border: 2px solid var(--global-border);
  padding: 20px; 
  width: 100%; 
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 0;
  flex: 1 1 auto;
  overflow-y: auto;
  margin-bottom: 10px;
}

#requestInput {
  color: white;
  background-color: transparent;
  border: 2px solid var(--global-border);
  padding: 10px;
  /* text-align: center; */
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  flex-grow: 1;   
  min-width: 0;
}

#requestInput:disabled {
  color: rgba(255,255,255,0.5);
  background-color: transparent;
  border: 2px solid var(--global-border);
  padding: 10px;
  /* text-align: center; */
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  flex-grow: 1;   
  min-width: 0;
}

#modelSelect {
  color: var(--global-text);
  background-color: transparent;
  border: 2px solid var(--global-border);
  padding: 10px;
  /* text-align: center; */
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

.modelOption {
  background-color: var(--global-bg);

}

#themeSelect {
  color: var(--global-text);
  background-color: transparent;
  border: 2px solid var(--global-border);
  padding: 5px;
  /* text-align: center; */
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

.themeOption {
  background-color: var(--global-bg);

}

#thinkingCheckbox {
  accent-color: rgb(80, 80, 235);
}

#thinkingCheckbox:hover {
  accent-color: rgb(100, 100, 255);
}

#thinkingCheckboxLabel {
  margin-right: 5px;
  margin-left: -5px;
}

#fileInputLabel:not([hidden]) {
  background-color: rgba(100, 100, 255, 0.5);
  color: white;
  font-size: 14px;
  border: 2px solid rgba(100, 100, 255, 0);
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

#fileInputLabel:hover,
#fileInputLabel:active {
  background-color: rgba(100, 100, 255, 1);
  border: 2px solid rgba(100, 100, 255, 0.5);
}